




<!DOCTYPE html>
<html lang="en" >

<%= require('html-loader!./assets/html/head.html') %>


<!-- https://colorhunt.co/palette/138365 -->
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">


              <img src="../app/assets/img/path3.png" />


              <i class="is-size-3 fab fa-ethereum"></i>
              <h1 class="title font-raleway"> Lava Token </h1>
              <h3 class="subtitle">

              </h3>

              <div class="whitespace-md"></div>

              <a href="https://github.com/lavawallet/lavawallet-desktop" target="_blank" class="button button-primary is-large">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Lava Wallet</span>
              </a>

              <a href="https://0xbitcoin.trade" target="_blank" class="button button-primary is-large">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Get LAVA</span>
              </a>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-3">
            <aside class="is-medium menu">
          <p class="menu-label">
            categories
          </p>
          <ul class="menu-list">
            <li class="is-right"><a href="#const" class="is-active"><i class="fab fa-css3-alt"></i> CSS</a></li>
            <li><a href="#let" class="is-active"><i class="fab fa-js"></i> JS</a></li>
            <li><a href="#let" class="is-active"><i class="fab fa-html5"></i> HTML</a></li>
          </ul>
              <p class="menu-label">
                More to read...
              </p>
              <ul class="menu-list">
                <li><span class="tag is-white is-medium">Lorem</span></li>
                <li><span class="tag is-white is-medium">Ipsum</span></li>
                <li><span class="tag is-white is-medium">Dolor</span></li>
                <li><span class="tag is-white is-medium">Animi</span></li>
                <li><span class="tag is-white is-medium">Eximi</span></li>
                <li><span class="tag is-white is-medium">Nullius</span></li>
                <li><span class="tag is-white is-medium">Oxipi</span></li>
                <li><span class="tag is-white is-medium">Vultus</span></li>
                <li><span class="tag is-white is-medium">Voluptatis</span></li>
                <li><span class="tag is-white is-medium">Exomarphis</span></li>
                <li><span class="tag is-white is-medium">Finimi</span></li>
                <li><span class="tag is-white is-medium">Aenigma</span></li>
                <li><span class="tag is-white is-medium">Arkham</span></li>
                <li><span class="tag is-white is-medium">Blue</span></li>
                <li><span class="tag is-white is-medium">Medium</span></li>
              </ul>
            </aside>
          </div>
          <div class="column is-9">
            <div class="content is-medium">
          <h3 class="title is-3">  </h3>
              <div class="box">
                <h4 id="const" class="title is-3"> Zero-fee Transactions on Ethereum </h4>
                <article class="message is-primary">
                  <span class="icon has-text-primary">
                  <i class="fab fa-js"></i>
                  </span>
                  <div class="message-body">
                    Deploy a Lava Relay to facilitate ERC20 transactions for your users. <br> You can even set the fee to ZERO to allow users to pay you in LAVA at no cost.
                  </div>
                </article>
              <pre><code class="language-javascript">
                <a href="/new-relay">Learn how to deploy a Lava Relay</a>
              </code></pre>
            </div>
            <div class="box">
              <h4 id="let" class="title is-3"> The Easiest Desktop Wallet. Ever</h4>
              <article class="message is-primary">
                <span class="icon has-text-primary">
                  <i class="fas fa-info-circle"></i>
                </span>
                <div class="message-body">
                  Receive and send LAVA (Zero ETH Fee!) using any Lava Relay.
                </div>
              </article>
            <pre><code class="language-javascript">let i = 0;</code></pre>
          </div>
          <h3 class="title is-3"></h3>
          <div class="box">
            <h4 id="lorem" class="title is-4">Scarce Currency, Pure Mined with SHA3 PoW</h4>
            <article class="message is-primary">
              <span class="icon has-text-primary">
                <i class="fas fa-info-circle"></i>
              </span>
              <div class="message-body">
                Every LAVA token is pegged 1:1 with 0xBTC, the Pure Mined SHA3 PoW token.
                <br> LAVA can be atomic-swapped with 0xBTC using an on-chain Ethereum method.
              </div>
            </article>
          <pre><code class="language-javascript">let i = 0;</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>
</section>



<%= require('html-loader!./assets/html/footer.html') %>




</body>
</html>
